.cont_services > h1 {
  font-size: 35px;
  color: black;
  margin-left: 90px;
  font-family: "Varela Round", sans-serif;
}
.cont_title > h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 2.5rem;
  position: absolute;
  top: 200px;
  left: 130px;
}
.cont_title .title_text {
  position: relative;
  top: 200px;
  left: 127px;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
  width: 25%;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 265px;
  margin-top: 50px;
  height: 10vh;
}
.serv-card {
  width: 170px;
  height: 200px;
  background-color: #0466c8;
  border-radius: 5px;
  color: #ffffff;
  border-left: 6px solid #001f54;
  border-bottom: 6px solid #001f54;
  border-right: 6px solid #001f54;
  border-top: 6px solid #001f54;
}
.plan-title {
  margin: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
}
img {
  margin: 10px;
}
.plan-titles {
  margin: 9px;
  padding: 1px;
  margin-top: -5px;
  font-family: "Asap Condensed", sans-serif;
}
@media (max-width: 1182px) {
  .cont_title > h2,
  .cont_title .title_text,
  .cards {
    position: static;
    top: auto;
    left: auto;
    margin: 0 auto;
    text-align: center;
    width: auto;
    line-height: 1.5;
  }
  .cont_services > h1 {
    text-align: center;
    margin-left: 8px;
  }
  .title_text {
    max-width: 90%;
  }
  .cards {
    flex-direction: row;
    margin-left: 0;
    margin-top: 20px; /* Adjust the margin as needed */
    height: auto;
  }
  .cont_title .title_text {
    margin-top: 20px;
  }
}
@media (max-width: 771px) {
  .cards {
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    height: auto;
  }
}
